<!DOCTYPE html>
<html lang="en" id="docs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="styles.css" media="all">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
</head>
<body>
  <div class="toc-container">
    <h2><code><a href=<%= page_url %>><%= title %></a></code></h2>
    <ul>
      <li><a href="#">Introduction</a></li>
      <li><a href=<%= github_url %>>Github Repository</a></li>
      <li><a href="tests.html">Test suite</a></li>
      <li><a href=<%= annotated_path %>>Annotated Source</a></li>
    </ul>
    <%- apiToc %>
  </div>
  <div class="doc-container">
    <div>  
      <%- readme %>
      <h2>API documentation</h2>
      <%- apiDoc %>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
</body>
</html>
