body,
h1,
h2,
html,
p {
    margin: 0;
    padding: 0
}
html {
    background: #d3d3d3;
    height: 100%;
    color: #222;
    font-size: 100%
}
body {
    background: #fff;
    width: 60em;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 2.5em #5d656c;
    -moz-box-shadow: 0 0 2.5em #5d656c;
    box-shadow: 0 0 2.5em #5d656c;
    font: 1em/1.7'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100%
}
code {
    font-family: 'Source Code Pro', Consolas, 'Courier New', monospace;
    letter-spacing: 0.03em;
}
.lang-js {
  color: #78dbf9;
}
span.hljs-number {
  color: #d59cf6;
}
span.hljs-string{
  color: #8bdb97;
}
span.hljs-regexp{
  color: #dbad83;
}
span.hljs-literal{
  color: #e26a78;
}
span.hljs-keyword{
  color: #d59cf6;
}
span.hljs-comment {
  color: #99a4c7;
}
span.hljs-special {
  color: #bdc4df;
}
pre {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.137255);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.0980392);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.0823529);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #2b303b;
    margin: 1em 0;
    padding: .5em 20px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}
pre.intro {
    font-size: 1.2em
}
pre::-webkit-scrollbar {
    height: 8px
}
pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    -webkit-border-radius: 10px;
    border-radius: 10px
}
pre::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, .4)
}
h1 span,
pre {
    color: #ddd
}
h1,
h2,
h3,
h4,
ol,
p,
ul {
    font-weight: 400;
    padding: 0 20px;
    word-wrap: break-word
}
hgroup h1 {
    display: inline
}
hgroup h2 {
    font-size: 1.38em
}
h2,
h3,
h4 {
    margin: 0 0 .5em
}
h4 {
    font-weight: 700
}
a {
    color: #222;
    border-bottom: 1px solid #ddd;
    text-decoration: none
}
a:focus,
a:hover {
    border-color: #222
}
a img {
    border: 0
}
abbr[title] {
    border-bottom: 1px dotted #ddd;
    cursor: help
}
hr {
    display: none
}
p {
    margin-bottom: 1em
}
ol,
ul {
    margin-left: 2em
}
ol ol,
ul ul {
    margin-left: 1em;
    padding: 0
}
footer {
    display: block;
    background: #eee;
    padding: 1em 0;
    text-align: center
}
.a-img {
    border: 0
}
.a-img img {
    padding: .5em 0 0
}
.description {
    word-wrap: break-word
}
.multiline-items li {
    padding-bottom: 1em
}
.multiline-items li.last-item {
    padding-bottom: 0
}
.br0 {
    color: #090
}
.co1 {
    color: #060
}
.co2 {
    color: #096
}
.kw1,
.kw3 {
    color: #006
}
.kw2 {
    color: #036
}
.me1 {
    color: #606
}
.nu0 {
    color: #c00
}
.st0 {
    color: #36c
}
.sy0 {
    color: #393;
    font-weight: 700
}
pre .co1 {
    color: #aeaeae
}
.es0,
pre .st0 {
    color: #61ce3c
}
pre .co2 {
    color: #fff
}
pre .kw2,
pre .kw3,
pre .nu0 {
    color: #fbde2d
}
pre .me1 {
    color: #8da6ce
}
pre .br0,
pre .kw1,
pre .sy0 {
    color: #ddd
}
#docs {
    background: #fff
}
#docs body {
    font-size: .85em;
    width: 100%
}
#docs a.alias {
    opacity: .5
}
#docs div div div div {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.137255);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.0980392);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.0823529);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*padding-bottom: 0.5em;*/
}
#docs div div div {
    border-top: 0;
    margin: 0 .5em 1em
}
#docs h1,
#docs h2,
#docs h3,
#docs h4,
#docs ol,
#docs p,
#docs ul {
    padding: 0 10px
}
#docs pre {
    margin: 0;
    padding: .5em 10px
}
#docs ul li {
    list-style-type: none;
    margin: 0 0 0 -.9em
}
#docs h1 {
    padding: 0 10px
}
#docs h2 {
    margin: .5em 0 0
}
#docs h3 {
    background: rgb(63, 107, 196);
    border-radius: 3px 3px 0 0;
    border: 1px solid rgba(75, 71, 71, 0.14);
    margin: .5em 0;
    padding: .8em 0 .8em 10px;
    position: relative
}
#docs h3>code {
    color: #fbfbfb
}
#docs h3 a {
    position: absolute;
    top: 0
}
#docs h3 .br0 {
    color: #fc83ff
}
#docs h3 .kw2 {
    color: #71d0c9
}
#docs h3 .me1 {
    color: #fff
}
#docs h3 .nu0 {
    color: #d0cb71
}
#docs h3 .sy0 {
    color: #df74e2;
    font-weight: 700
}
#docs footer {
    height: 3em;
    margin-top: 1.5em;
    width: 100%
}
#social {
    height: 20px
}
#social .twitter-follow-button {
    width: 127px!important
}
#social .twitter-follow-button,
.twitter-share-button {
    font-size: .8em;
    vertical-align: top
}
@media (max-width: 959px) {
    body {
        border: 0;
        margin: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: auto
    }
    h1,
    h2,
    h3,
    h4,
    ol,
    p,
    ul {
        padding: 0 10px
    }
    pre {
        padding: 5px 10px!important
    }
    #social {
        height: auto
    }
    .toc-container a {
        display: block;
        padding: 5px
    }
    .toc-container a:focus,
    .toc-container a:hover {
        background-color: #EEE
    }
    .toc-container a:active {
        background-color: #CCC
    }
}
@media (min-width: 960px) {
    #docs body {
        box-shadow: none;
        height: 100%;
        margin: 0
    }
    #docs a[href="#docs"],
    #docs footer {
        display: none
    }
    #docs h1 {
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1
    }
    #docs h3 a {
        display: block;
        position: relative;
        visibility: hidden;
        top: -4em
    }
    #docs .toc-container {
        background: #fff;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        top: 1.5em;
        white-space: nowrap;
        width: 20%;
        -webkit-overflow-scrolling: touch
    }
    #docs .toc-container h2,
    #docs .toc-container ul {
        margin-top: 0;
        padding: 0 10px
    }
    #docs .doc-container {
        background: #fff;
        width: 80%;
        margin-left: 20%;
        padding-top: 1.5em
    }
    #docs .doc-container .first-heading {
        margin-top: 0
    }
}
@media (-ms-high-contrast: active) and (max-width: 1280px),
(-ms-high-contrast: none) and (max-width: 1280px) {
    #docs .doc-container,
    #docs .toc-container {
        position: relative;
        top: auto;
        width: 100%
    }
    #docs .doc-container .first-heading {
        margin-top: .5em
    }
    #docs a[href="#docs"] {
        display: inline
    }
    #docs footer {
        display: block
    }
}
@media (orientation: portrait) and (min-device-width: 720px) and (max-device-width: 768px),
(orientation: landscape) and (device-width: 1280px) and (max-device-height: 768px) {
    @-ms-viewport{width:80%}}
